<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sdut.dao.AccountDao">
    <select id="findAll" resultType="Account">
        select * from account
    </select>
    <select id="findAccountById" resultType="Account">
        select * from account where id = #{id}
    </select>
    <insert id="addAccount" parameterType="Account">
        <selectKey keyProperty="id" order="AFTER" resultType="int">
            select last_insert_id()
        </selectKey>
        insert into account(id, username, balance) values (#{id}, #{username}, #{balance})
    </insert>
    <select id="findAccountByName" parameterType="String" resultType="Account">
        select * from account where username like concat('%',#{name},'%')
    </select>
    <select id="findTotal" resultType="int">
        select count(id) from account
    </select>
</mapper>