<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--mybatis主配置文件-->
<configuration>
    <!--外部配置文件-->
    <properties resource="db.properties" />
    <!--配置别名-->
    <typeAliases>
        <!--<typeAlias type="cn.sdut.domain.Account" alias="Account" />-->
        <package name="cn.sdut.domain"/>
    </typeAliases>
    <!--配置环境-->
    <environments default="mysql">
        <!--配置mysql的数据库环境-->
        <environment id="mysql">
            <!--使用JDBC的事务管理-->
            <!--如果你正在使用 Spring + MyBatis，则没有必要配置事务管理器，因为 Spring 模块会使用自带的管理器来覆盖前面的配置。-->
            <transactionManager type="JDBC"/>
            <!--配置数据源（连接池）-->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!--Mapper的位置，注意“/”-->
    <mappers>
        <!--<mapper resource="cn/sdut/dao/AccountDao.xml" />-->
        <!--注意！！！后两种方式要求接口类的名称和映射文件的名称必须相同，如不相同，就会报Invalid bound statement (not found)错误-->
        <!--<mapper class="cn.sdut.dao.AccountDao" />-->
        <package name="cn.sdut.dao"/>
    </mappers>
</configuration>